<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABRPAPIKey</key>
	<string>$(ABRP_API_KEY)</string>
	<key>WorkerBaseURL</key>
	<string>$(WORKER_BASE_URL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.unchan.pankuzu.daily-pruning</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.unchan.pankuzu.Pankuzu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pankuzu</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneConfigurationName</key>
					<string>CarPlay</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>external-accessory</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.obdlink</string>
	</array>
</dict>
</plist>
